
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'Alata', sans-serif;
    color: white;
    /* font-family: 'Josefin Sans', sans-serif; */
}

h2{
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    text-align: center;
}

/* ******************************Header************************ */
.header{
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 680px;
    /* height: 1080px; */
    background-color: black;
    padding: 22px;
    /* width: 100%; */
}

.iconHamburger{
    margin-top: 17px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 30px auto 0;
}

.navBar{
    background-color: #000;
    position: absolute;
    top: 0;
    /* left: 0; */
    right: 0;
    width: 375px;
    padding: 30px 22px;
    
}

.navBar1{
    display: none;   
}

.logo, .logo1{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;   
}

.logo img{
    margin-bottom: 4px;
}

.logo p, .logo1, footer h3{
    font-size:xx-large;
}

.navBar li{
    margin: 20px auto;
    font-size: 15px;
    letter-spacing: .1rem;
    
}

.navBar ul{
   
    margin: 150px auto 240px auto
}



.titlePrincipal{
    border: 2px solid #fff;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 190px;
    text-transform: uppercase;
    letter-spacing: .4rem ;
    line-height: 36px;   
}
/* ********************************SECTION ONE ********************* */
.containerOne{
    margin: 80px 22px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.description{
    margin: auto 20px;
}

.description h2{
    margin: 40px auto;
}

.description p{
    display: inline;
    text-align: justify;
    color: hsl(0, 0%, 41%);
    line-height: 25px;    
}

.imageInteractive{
    background: url(../images/mobile/image-interactive.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 255px;
}

.one{
    color: #000;
}
/* *****************************************SECTION TWO ******************* */
.two h2{
    color: hsl(0, 0%, 0%)
}

.grid{
    display: grid;
    gap: 22px;
    padding:  22px;
    text-align: center;
}

.grid button{
    text-transform: uppercase;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border: #000 1px solid;
    background-color: inherit;
    padding: 15px 50px;
    font-weight: 700;
    letter-spacing: .2rem;
}    

.grid img{
    width: 100%;
}

/* ********************************** FOOTER*********************** */

footer{
    background-color: #000;
    padding: 60px 50px;
}

footer li, .menu li{
    list-style-type: none;
}

footer p{
    color: hsl(0, 0%, 55%);
    font-size: 15px;
}

.linkNavBar ul{
    padding: 20px;
}

.linkNavBar li{
    padding: 8px;
}

.linkNavBar li:nth-of-type(2n){
    padding-left: 0px;
}

.linkNavBar li:last-of-type{
    padding-left: 2px;
}

.socialNetwork, .linkNavBar{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.linkSocialNetwork{
    padding: 10px;
}

.linkSocialNetwork img{
    padding: 5px;
}

/* ********************************MEDIA QUERIES******************************* */
@media (min-width: 412px) /*and (max-width: 542px)*/{
    .imageInteractive{
        min-height: 400px;
        background-position: center center;
        background-size: contain;
    }
 }


@media (min-width: 442px) and (max-width: 542px){
   .header{
        min-height: 800px;
   } 
}

@media (min-width: 543px) and (max-width: 1199px){
    .header{
        min-height: 1000px;
        max-height: 1800px;
    } 
 }

 @media (min-width: 913px)and (max-width: 1199px){
    .imageInteractive{
        min-height: 800px;
        background-position: center center;
        background-size: cover;
    }
 }    

 @media (min-width: 1200px) {
    .containerOne{
        display: grid;
        grid-template-columns: 700px auto;
        padding: 0 180px;
    }

    .description{
        width: 501px; 
        background-color: #fff;
        margin-left: -170px;
        margin-bottom: 50px;
        padding-top: 32px; 
        padding-left: 52px;
        padding-right: 12px;
        /* border: 0.5px solid;  */
    }

    .description,.description h2{
        text-align: left;
    }

    .description h2{
        font-size: 44px;
    }

    .gridOne{
        background: url(../images/desktop/image-deep-earth.jpg);
    }

    .one{
        display: flex;
    }

    .imageInteractive{
        width: 700px;
        /* min-height: 600px; */
    }

    .header{
        background: url(../images/desktop/image-hero.jpg) no-repeat;
        background-size: cover;
        min-height: 800px;
        padding-left: 200px;
        padding-top: 42px;
    }

    .navBar{
        background-color: inherit;
        display: flex;
    }

    .navBar ul{
        display: flex;
        text-transform: lowercase;
        margin: 10px -120px;    
    }
    
    .navBar ul li::first-letter{
        text-transform: uppercase;
    }

    .navBar ul li{
        margin-right: 10px;
    }

    .logo, .iconHamburger{
        display: none;
    }

    .titlePrincipal{
        width: 650px;
        line-height: 62px;
        font-size: 2em;
    }
 }

 @media (min-width: 1600px){
    .containerOne{
        text-align: center;
    }
 }